page-about {
	.retoTituloNegro{
		text-shadow: 0 0 3px #000000;
		//font-size:2em;
		font-weight: bold;
	}
	.retoTituloBlanco{
		text-shadow: 0 0 3px #fff;
	}


    .scroll-content {
        //background-color: map-get($colors, light);
    }

    ion-card-header {
        font-weight: bold;
    }
	 
	  
}
