<!--<ion-nav [root]="rootPage"></ion-nav>-->

<ion-split-pane [when]="splitPane.getSplitPane()">

  <ion-menu [content]="content" >
    <ion-header>
      <ion-toolbar>
        <ion-title><img width="26" style="vertical-align: middle;" src="assets/images/ico_700x700.png"> SPICY </ion-title>
      </ion-toolbar>
    </ion-header>
   
 

  
     <ion-content id="asideMenu"> 

      <ion-card id="profile" *ngIf="!!divs.cardPerfil"> 
        <ion-item>
          <ion-avatar item-start>
            <ion-icon name="contact"></ion-icon>
          </ion-avatar>
          <h2>{{nombreUsuario()}}</h2>
          <p>{{nombreEmpresa}}</p>
        </ion-item> 

        <ion-item class="tools">
          <ion-col no-padding no-margin>
            <button ion-button small no-margin class="pBtn" (click)="btnEditar()"><ion-icon name="build"></ion-icon></button>
          </ion-col>
          <ion-col no-padding no-margin>
            <button ion-button small no-margin class="pBtn" (click)="btnEmpresa()"><ion-icon name="briefcase"></ion-icon></button>
          </ion-col>
          <ion-col no-padding no-margin>
            <button ion-button small no-margin class="pBtn" (click)="salirConfirmar()"><ion-icon name="log-out"></ion-icon></button>
          </ion-col>
         </ion-item>

        <ion-item *ngIf="!!divs.empresa">
          <ion-label floating>Empresa</ion-label>
          <ion-select (ionChange)='cambiarEmpresa()' [(ngModel)]="formulario.idEmpresa" interface="popover"  okText="Cambiar" cancelText="Cancelar">
              <ion-option *ngFor="let empresa of empresas " value="{{empresa.id_empresa}}">{{empresa.nombre}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="tools" ion-item *ngIf="!!divs.editarPerfil">
          <ion-col no-padding no-margin>
            <button ion-button small no-margin class="pBtn" (click)="editarPerfil()"><ion-icon name="person"> </ion-icon> Perfil </button>
          </ion-col>
          <ion-col no-padding no-margin>
            <button ion-button small no-margin class="pBtn" (click)="editarPass()"><ion-icon name="key"> </ion-icon> Contraseña</button>
          </ion-col>
         </ion-item>


      </ion-card>
    <ion-list>
        <div *ngFor="let p of pagesView" (click)="openPage(p)">
          <button menuClose ion-item>
            <ion-icon name="{{p.icon}}"></ion-icon>
            {{p.title}}
          </button>
        </div>
    </ion-list>
     </ion-content>

  </ion-menu>



  <ion-nav [root]="rootPage" main #content></ion-nav>
</ion-split-pane>



