page-mi-perfil {
 
	.nav {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    padding-left: 0;
	    margin-bottom: 0;
	    list-style: none;
	}
 
}
